<!-- <img src="<%= rootURL %>" alt=""> -->


<div class="contents">
    <div class="contents-inner">
        <div class="wrapper">
            <div class="hamburger_menu"></div>
            <%- include('./_mv.ejs') %> 
            <main class="main">
                <%- include('./_main.ejs') %> 
            </main>
            <%- include('./_foot.ejs') %> 
        </div>
    </div>
</div>
<%- include('./_index.ejs') %> 

<script src="<%= rootURL %>/assets/js/index.js"></script>