<div class="sp-anchor_wrap">
    <div class="anchor_inner">
        <ul class="anchor_link">
            <li class="anc">
                <a href="#sec_1">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look1-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 1
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_2">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look2-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 2
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_3">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look3-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 3
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_4">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look4-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 4
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_5">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look5-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 5
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_6">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look6-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 6
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_7">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look7-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 7
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_8">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look8-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 8
                    </div>
                </a>
            </li>
            <li class="anc">
                <a href="#sec_9">
                    <div class="anchor_ph">
                        <img src="<%= rootURL %>/assets/img/look9-1.jpg" alt="">    
                    </div>
                    <div class="anchor_num">
                        LOOK 9
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>