<section class="sec sec_1" id="sec_1">
    <div class="ph_wrap">
        <div class="num sticky_top">
            LOOK 01
        </div>
        <div class="look_ph look1-1">
            <img src="<%= rootURL %>/assets/img/look1-1.jpg" alt="">    
        </div>
        <div class="look_ph look1-2">
            <img src="<%= rootURL %>/assets/img/look1_2.png" alt="">    
        </div>
        <div class="look_ph look1-3">
            <img src="<%= rootURL %>/assets/img/look1_3.png" alt="">    
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>
<section class="sec sec_2" id="sec_2">
    <div class="ph_wrap ">
        <div class="num sticky_top">
            LOOK 02
        </div>
        <div class="look_ph look2-1">
            <img src="<%= rootURL %>/assets/img/look2-1.jpg" alt="">    
        </div>
        <div class="look_ph look2-2">
            <img src="<%= rootURL %>/assets/img/look2_2.png" alt="">    
        </div>

    </div>
    
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>
<section class="sec sec_3" id="sec_3">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 03
        </div>
        <div class="look_ph fadein look3-1">
            <img src="<%= rootURL %>/assets/img/look3-1.jpg" alt="">    
        </div>
        <div class="look_ph fadein look3-2">
            <img src="<%= rootURL %>/assets/img/look3-2.jpg" alt="">    
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>

<section class="sec sec_4" id="sec_4">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 04
        </div>
        <div class="look_ph look4-1">
            <img src="<%= rootURL %>/assets/img/look4_1.jpg" alt="">    
        </div>
        <div class="look_ph look4-2">
            <img src="<%= rootURL %>/assets/img/look4_2.png" alt="">    
        </div>

    </div>
    
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>
<section class="sec sec_5" id="sec_5">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 05
        </div>
        <div class="look_ph look5-1">
            <img src="<%= rootURL %>/assets/img/look5-1.jpg" alt="">    
        </div>
        <div class="look_ph look5-2">
            <img src="<%= rootURL %>/assets/img/look5-2.png" alt="">    
        </div>

    </div>
    
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>

<section class="sec sec_6" id="sec_6">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 06
        </div>
        <div class="look_ph fadein look6-1">
            <img src="<%= rootURL %>/assets/img/look6-1.jpg" alt="">    
        </div>
        <div class="look_ph fadein look6-2">
            <img src="<%= rootURL %>/assets/img/look6-2.jpg" alt="">    
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>
<section class="sec sec_7" id="sec_7">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 07
        </div>
        <div class="look_ph look7-1">
            <img src="<%= rootURL %>/assets/img/look7_1.png" alt="">    
        </div>
        <div class="look_ph look7-2">
            <img src="<%= rootURL %>/assets/img/look7_2.png" alt="">    
        </div>
        <div class="look_ph look7-3">
            <img src="<%= rootURL %>/assets/img/look7_3.png" alt="">    
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Bow Tie Striped Shirt ¥14,300</a><br>
            <a href="" target="_blank">Double Waist Striped Tight Skirt ¥13,200</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>


<section class="sec sec_8" id="sec_8">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 08
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/look8-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/look8-2.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/look8-3.jpg" alt="" loading=”lazy”>
                </div>
            </div>
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Bow Tie Striped Shirt ¥14,300</a><br>
            <a href="" target="_blank">Double Waist Striped Tight Skirt ¥13,200</a>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>


<section class="sec sec_9" id="sec_9">
    <div class="ph_wrap">
        <div class="num">
            LOOK 09
        </div>
        <div class="look_ph look9-1">
            <img src="<%= rootURL %>/assets/img/look9_1.png" alt="">    
        </div>
        <div class="look_ph look9-2">
            <img src="<%= rootURL %>/assets/img/look9_2.png" alt="">    
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Tie Shirt One-Piece ¥17,600</a>
            <span class="caption">＊Arrive in Early March</span>
        </p>
        <div class="shopnow">
            <span>
                SHOP NOW
            </span>
        </div>
    </div>
</section>