<div class="pc-anchor_wrap">
    <ul class="pcanchor_link anchor_link first_line">
        <li>
            <a href="#sec_1">
                LOOK 01
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
        <li>
            <a href="#sec_2">
                LOOK 02
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
        <li>
            <a href="#sec_3">
                LOOK 03
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
        <li>
            <a href="#sec_4">
                LOOK 04
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
        <li>
            <a href="#sec_5">
                LOOK 05
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
    </ul>
    <ul class="pcanchor_link anchor_link second_link">
        <li>
            <a href="#sec_6">
                LOOK 06
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
        <li>
            <a href="#sec_7">
                LOOK 07
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
        <li>
            <a href="#sec_8">
                LOOK 08
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
        <li>
            <a href="#sec_9">
                LOOK 09
            </a>
            <div class="wave">
                <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
            </div>
        </li>
    </ul>
</div>